<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <.report_font
      family="Roboto"
      filename="roboto_black.ttf"
      weight="400"
      style="normal"
      mimetype="font/ttf"
    />
    <.report_stylesheet filename="app.css" />
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
